html{
    background-color:floralwhite;
}
p{
    font-family: cursive;
    color:black;
    background-color:ghostwhite;
    
}
img{
    background-color: azure;


}
a[class="Netflix"]{
    color:crimson;
    overscroll-behavior-inline:auto;
}
a[class="vegamovies"]{
    color: aqua;
    overscroll-behavior-inline:auto;
}
a[class="prime_video"]{
    color: cornflowerblue;
    overscroll-behavior-inline:auto;
}
a[class="Sony_liv"]{
    color: seagreen;
}
