html{
    background-color:#000000;
    font-family: 'Alice', serif;
}
h1{
    color:white;
    text-align: center;
    text-shadow: magenta -3px 0,cyan 3px 0;
}
h1:hover{
    color: lime;
}
h2{
    color:white;
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bold;
}
h3:hover{
    color: #B8621B;
}
img{
    background-color:black;
    border: 2px solid #E3CCAE;
    padding: 15px;
    width: 75%;
    height: 450px;
    border-radius: 10px;
}
p{
    text-align: left;
}
p[class="link"]{
    text-align:center;
}
div{
    color:#E3CCAE;
    margin: 0% 15%;
}
a[class="Netflix"]{
    color:crimson;
    text-decoration:none;
}
a[class="Netflix"]:hover{
    color: aliceblue;
}
a[class="vegamovies"]{
    color:darkviolet;
    text-decoration:none;
}
a[class="vegamovies"]:hover{
    color: aliceblue;
}
a[class="dotmovies"]{
    color:yellow;
    text-decoration:none;
}
a[class="dotmovies"]:hover{
    color: aliceblue;
}
a[class="prime_video"]{
    color: cornflowerblue;
    text-decoration:none;
}
a[class="prime_video"]:hover{
    color: aliceblue;
}
a[class="Sony_liv"]{
    color: seagreen;
    text-decoration:none;
}
a[class="Sony_liv"]:hover{
    color: aliceblue;
}
footer{
    text-align:right;
    font-size: small;
    background-color: #E3CCAE;
}
#footer{
    text-align: end;
    color: black;
}